# Database - Neon PostgreSQL
DB_HOST = tu-host-de-neon.aws.neon.tech
DB_PORT =5432
DB_NAME = neondb
DB_USER = neondb_owner
DB_PASSWORD = tu_password

# Neon Auth
NEON_AUTH_URL = your_neon_auth_url
NEON_DATA_API_URL = your_neon_data_api_url

# Test user credentials
TEST_EMAIL = your_email
TEST_PASSWORD = your_password

NEON_API_KEY = your_neon_api_key

# DataLake - Azure
AZURE_STORAGE_ACCOUNT_NAME = datalake_name
AZURE_STORAGE_ACCOUNT_KEY = your_key1
AZURE_CONTAINER_RAW = directory_name
AZURE_CONTAINER_PROCESSED = directory_name

# Debezium configuration
DEBEZIUM_DB_PASSWORD = your_password

# Google Gemini
GEMINI_API_KEY=your_gemini_api_key


