# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Debezium configuration
debezium/conf/application.properties
debezium/data/